# API Gateway
PORT=3000
JWT_SECRET=your-super-secret-jwt-key-change-in-production
USER_SERVICE_URL=http://user-service:3001
WALLET_SERVICE_URL=http://wallet-service:3002
TRANSACTION_SERVICE_URL=http://transaction-service:3003
PAYMENT_SERVICE_URL=http://payment-service:3004
FRAUD_SERVICE_URL=http://fraud-service:3005
NOTIFICATION_SERVICE_URL=http://notification-service:3006
LEDGER_SERVICE_URL=http://ledger-service:3008

# Database
DATABASE_URL=postgresql://fintech_user:fintech_secure_password@postgres:5432/fintech_db

# Redis
REDIS_URL=redis://redis:6379

# Kafka
KAFKA_BROKERS=kafka:29092

# Fraud Detection
FRAUD_THRESHOLD=500000
HIGH_RISK_THRESHOLD=50
MAX_RETRIES=3

# Notifications
EMAIL_USER=noreply@fintech.com
EMAIL_PASSWORD=your-app-password
TWILIO_ACCOUNT_SID=your-twilio-sid
TWILIO_AUTH_TOKEN=your-twilio-token
TWILIO_PHONE=+1234567890

# Payment
NIBSS_API_URL=http://nibss-mock:3007


    environment:
      PORT: 3003
      DATABASE_URL: postgresql://fintech_user:fintech_secure_password@postgres:5432/fintech_db
      KAFKA_BROKERS: kafka:29092
      LEDGER_SERVICE_URL: http://ledger-service:3008
      MAX_RETRIES: 3
      OTEL_SERVICE_NAME: "transaction-service"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector:4317"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_EXPORTER_METRICS_ENDPOINT: "http://otel-collector:4317"
      PROMETHEUS_METRICS_PORT: "9464"
      PROMETHEUS_METRICS_PATH: "/metrics"
      LOGS_JSON: "true"
